# ---- Build / Gradle ----
.gradle/
build/
out/

# Gradle Wrapper (IM REPO BEHALTEN!)
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# ---- Logs / Temp ----
*.log
*.tmp
*.swp

# ---- IDE / Editor ----
# IntelliJ
*.iml
.idea/
# VS Code
.vscode/
# Eclipse/STS
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ---- OS ----
.DS_Store
Thumbs.db

# ---- Lokale Overrides (niemals committen) ----
application-local.properties
